# IntelliJ IDEA
.idea/

# Compiled files
*.class

# Log files
*.log

# Build output
/target/

# Dependency directories
bin/
build/
out/

# Gradle
.gradle/
build/

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
maven-metadata-local.xml
/.mvn/wrapper/

# Spring Boot Devtools
/.idea/spring-boot-devtools.xml

# Miscellaneous
*.iml
*.ipr
*.iws
*.bak

# Mac OS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Spring Boot Application Properties
/src/main/resources/application.properties
