# IntelliJ IDEA
.idea

# Dependency directories
bin/
build/
out/

# Gradle
.gradle/
build/

# Miscellaneous
*.iml
*.ipr
*.iws
*.bak

# Mac OS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

